.container {
  display: flex;
  justify-content: center;
}

.contentArea {
  max-width: 1500px;
  display: flex;
  padding: 0px 100px 0px 100px
}


.text {
    width: auto;
    min-width: 300px;
    margin-top: 8%;
    font-size: 1.8rem;
  }
  
.text h1 {
  text-transform: uppercase;  
}

.text h4 {
  color: gray;
}


.image img{
  width: 35rem;
  margin: 10rem 0rem 0px 100px
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .image img{
    width: 80vw;
    margin: 10% 7% 7% 12%
  }
  .text {
    width: 90vw;
    font-size: 4vw;
  }
  .container {
    flex-direction: column;
    width: 100vw
  }
}


