.navbar {
  height: 6vh;
  background: #ffecd1;
  /* background: rgb(215, 209, 189); */
  min-height: 50px;
}

.navLogo {
  display: flex;
  align-items: center;
}

.navLogo img {
  height: 4vh;
  margin: 5% 1vw 0px 8.66%;
  min-height: 45px;
}

.navItems {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-left: 2.16%;
  height: 100%;
}

.navItems a {
  margin: 0px 0px 0px 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: calc(10px + 0.3vw);
  text-transform: uppercase;
}

.active {
  background: green;
}

.navPages {
  display: flex;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .navPages {
    display: none;
  }
  .scrolled {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .burgerMenu {
    display: none;
  }
}

.mobilePages {
  background: #ffecd1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.mobilePages a {
  margin: 10px;
}

.logout {
  cursor: pointer;
}

.burgerDiv{
  display: flex;
  align-items: center;
}

.burgerMenu {
  background: transparent;
  border: none;
  padding: none;
  margin: none;
}

.shoppingCart {
  position: absolute;
  padding: 3px 6px;
  background: rgb(255, 96, 96);
  border-radius: 50%;
  top: 5px;
  margin-left: 15px;
}

@keyframes scrollFadeIn {
  from {opacity: 0;}
  to {opacity: 100;}
}

.scrolled{
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  animation: scrollFadeIn;
  animation-duration: 0.3s;
  
}
